body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: black;
    margin-top: 400px;
    }

h1{
    margin-right: 100px;
    color: white;
}
p{
    color: white;
}